<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    {% block css %}

    {% endblock %}
    <!-- Custom styles for this template -->
    {% block stylesheets %}
        {#<link rel="stylesheet" href="{{ asset('css/file.css') }}" >#}
        {% stylesheets 'css/file.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% javascripts 'js/dropzone.js' %}
             <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Login as {{ name }}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('show') }}">ShowGalery</a></li>
                <li><a href="{{ path('register') }}">Registration</a></li>
                {% if name %}
                <li><a href="{{ path('logout') }}">logout</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="starter-template">
        {% block body %}
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-5 col-md-3">
                        <div class="form-login">
                            <h4>Welcome back.</h4>
                            <form action="{{ path('login') }}">
                            <input type="text" name='name' id="userName" class="form-control input-sm chat-input" placeholder="username" />
                            </br>
                            <input type="text" name='passwod' id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                            </br>
                            <div class="wrapper">
            <span class="group-btn">
                <input type="submit"value="Login" class="btn btn-primary btn-md"/>
            </span>
                            </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>